<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Group:</strong>
  <%= @dog.group %>
</p>

<p>
  <strong>Best Suited For:</strong>
  <%= @dog.best_suited_for %>
</p>